* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #f4f6fa;
    --bg-span: #f4f6fa;
    --color-span: #626c7f;
    --purple: #a729f5;
    --purple-hover: rgba(167, 41, 245, 0.7);
    --primary-text-color: #313e51;
    --secondary-text-color: #626c7f;
    --pontuacao-bg: #fff;
    --shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
    --bg-html: #fff1e9;
    --bg-css: #e0fdef;
    --bg-javascript: #ebf0ff;
    --bg-acessibilidade: #f6e7ff;
    --white: #fff;
    --bg-color: #F4F6FA;
    --bg-span: #F4F6FA;
    --color-span: #626C7F;
    --white: #FFF;
    --purple:#A729F5;
    --purple-hover: rgba(167, 41, 245, 0.8);
    --primary-text-color: #313E51;
    --secundary-text-color: #626C7F;
    --shadow: 0px 26px 40px 0px rgba(143, 160, 193, 0.14);
    --bg-html: #FFF1E9;
    --bg-css: #E0FDEF;
    --bg-javascript: #EBF0FF;
    --bg-acessibilidade: #F6E7FF;
    --pontuacao-bg: #FFF;
    --bg-mobile: url(../../assets/images/pattern-background-mobile-light.svg);
    --bg-desktop: url(../../assets/images/pattern-background-desktop-light.svg);
    --bg-desktop: url(../../assets/images/pattern-background-desktop-light.svg)
}

body.escuro {
    --bg-color: #313e51;
    --color-span: #313e51;
    --bg-mobile: url(.,/../assets/images/pattern-background-mobile-dark.svg);
    --bg-color: #313E51;
    --color-span: #313E51;
    --bg-mobile: url(../../assets/images/pattern-background-mobile-dark.svg);
    --bg-desktop: url(../../assets/images/pattern-background-desktop-dark.svg);
    --primary-text-color: #fff;
    --secondary-text-color: #abc1e1;
    --pontuacao-bg: #3b4d66;
    --primary-text-color: #FFF;
    --secundary-text-color: #ABC1E1;
    --pontuacao-bg: #3B4D66;
    --shadow: 0px 16px 40px 0px rgba(49, 62, 81, 0.14);
}

body {
    height: 100svh;
    height: 90svh;
    background: var(--bg-mobile) var(--bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 500;
}

.pontuacao{
.pontuacao {
    background: var(--pontuacao-bg);
    padding: 32px;
    display: flex;
@@ -152,21 +152,20 @@ main h2 strong {
}

.pontuacao p {
    color: var(--secondary-text-color);
    color: var(--secundary-text-color);
    font-size: 18px;
}

main button {
main button { 
    padding: 16px;
    border-radius: 12px;
    border: none;
    background: var(--purple);
    color: var(--white);
    width: 100%;

    font-size: 18px;
    font-weight: 500;
    transition: background 0.3s;
    transition: background 0.7s;
    box-shadow: var(--shadow);
}

main button:hover {
    }

    .tema img {
        width: 24px;
        width: 16px;
    }

    .tema button {
main button:hover {

    .tema button div {
        width: 20px;
        height: 20px;
        height: 20px; 
    }

    main{
        display: flex;
        gap: 140px;
        max-width: 1160px;
        margin-inline: auto;
    }
  
    main > div {
        width: 100%;
    }
    main h2 {
        font-size: 64px;
    }
    .pontuacao {
        border-radius: 24px;
        margin-bottom: 32px;
    }
    .pontuacao strong {
        font-size: 144px;
    }
    .pontuacao p {
        font-size: 24px;
    }
    main button {
        font-size: 22px;
        padding: 24px;
        border-radius: 24px;
    }
}
